<!--Prabal Regmi 6/20/2021 300522389 businesscontacts.ejs-->
<%- include ../partials/header.ejs %>
<%- include ../partials/top_nav.ejs %>

<!--Main Content-->
<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-8">
            <h1><%=title %></h1>
            <a href="/contacts/add" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"></i> Add a Business Contact</a>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th class="text-center col-2">Business Name</th>
                    <th class="text-center col-2">Business Number</th>
                    <th class="text-center col-4">Business Email</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                </tr>

                <% for(let i = 0; i < ContactList.length; i++) { %>
                    <tr>
                        <td class="text-center"><%= ContactList[i].name %></td>
                        <td class="text-center"><%= ContactList[i].number %></td>
                        <td class="text-center"><%= ContactList[i].email %></td>
                        <td class="text-center col-1">
                            <a href="/contacts/edit/<%= ContactList[i]._id %>" class="btn btn-warning">
                            <i class="fas fa-pencil-alt" title="Edit"></i></a>
                        </td>
                        <td class="text-center col-1">
                            <a href="/contacts/delete/<%= ContactList[i]._id %>" class="btn btn-danger">
                            <i class="fas fa-trash-alt" title="Delete"></i></a>
                        </td>
                    </tr> 
                <% } %>
            </table>
        </div>
    </div>
</main>
<%- include ../partials/bot_nav.ejs %>
<%- include ../partials/footer.ejs %>